body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(16, 16, 16);
  /* Set font color to white */
}
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Header Styles */
header {
  background-image: url('pic/Images/slide1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
  .logo img {
    height: 90px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: 0.5s;
  }
  
  nav ul li a:hover {
    background-color: #fff;
    color: #ff0000;
    border-radius: 5px;
  }
  
  nav ul li a.active {
    background-color: red;
    border-radius: 5px;
    font-size: 18px;
    color: black;
  }
  
  /* Contact Styles */
  .contact {
    padding: 80px 0;
    background-color: #f9f9f9;
  }
  
  .contact h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-info p {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .contact-form form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .contact-form .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
  }
  
  .contact-form button[type="submit"] {
    background-color: #000000;
    color: #f80d0d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #ff0000;
    color: #ffffff;
  }
  
  /* Map Styles */
  .map-container {
    margin-top: 40px;
    width: 100%;
    height: 450px;
    margin-bottom: 40px;
  }
  
  /* Footer Styles */
  footer {
    background-color: grey;
    color: black;
    padding: 10px;
    text-align: center;
  }
  